.authResetPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userRecover > h1 {
    margin: 3rem;
    font-size: 3rem;
    color: white;
}

.authResetPasswordContainer .ınputResetPassword {
    background-color: transparent !important;
    width: 40rem !important;
    height: 3.5rem !important;
    margin: 2rem;
    border-radius: 0;
    border-bottom: 0.1rem solid white !important;
    border: none;
}

.ınputResetPassword  .ant-input {
    background-color: transparent !important;
}

.userRecover > span > p {
    font-size: 1.4rem;
    color: white;
    margin: 2rem;
}

.successMessage,
#error-message-reset {
    display: flex;
    justify-content: center;
    width: 50rem;
    background-color: #7465F1;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin: 1rem;
}


@media screen and (min-width: 700px) {
    .userRecover > h1 {
        margin-bottom: 2rem;
    }

    .userRecover > span > p {
        font-size: 1.3rem;
    }

    .userRecover > span{
        font-size: 1.5rem;
    }

    .authResetPasswordContainer .ınputResetPassword {
        width: 50rem !important;
    }

    .userRecover > span > p {
        font-size: 2rem;
        color: white;
        margin: 3rem;
    }

    .userRecover > h1 {
        margin-top: 5rem;
        font-size: 4rem;
        color: white;
    }
}

@media screen and (min-width: 1200px) {
    .userRecover > h1 {
        margin-bottom: 2.5rem;
    }

    .userRecover > span > p {
        font-size: 1.5rem;
    }

    .userRecover > span{
        font-size: 1.8rem;
    }

    .authResetPasswordContainer .ınputResetPassword {
        width: 50rem !important;
    }

    .userRecover > span > p {
        font-size: 2rem;
        color: white;
        margin: 3rem;
    }

    .userRecover > h1 {
        margin-top: 5rem;
        font-size: 4rem;
        color: white;
    }
}