.searchBarPlanetsContainer {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    flex: 100% !important;
    min-height: 15rem;
    height: 100% !important;
    margin-top: 3rem;
    background-color: #273046;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.SelectRolePosition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
}

.table-cell {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 700px) {
    .SelectRolePosition {
        flex-direction: row !important;
    }

    .SearchBarSpaceShipsInput {
        width: 20rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .SelectRolePosition {
        flex-direction: row !important;
    }

    .SearchBarSpaceShipsInput {
        width: 25rem !important;
    }
}